.nav{
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #374956;
    background-color: #141e26;
}

div {
    margin: 3px;
    align-self: center;
}

.nav_h1 {
    background-color: #141e26;
}

.nav_a {
    text-decoration: none;
    background-color: #374956;
   }

.nav_list_item {
    background-color: #374956;
    
}


.header_h1 {
    font-size: 3.5rem;
    background-color: #11191f;
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header_p_top {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: rgba(115, 130, 140, 2);
}

.header_p_bottom {
    margin-top: 2rem;
    font-size: 1.5rem;
    
}

ul {
    display: flex;
    background-color: #141e26;
}



.nav_a {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5%;
    background-color: rgba(115, 130, 140, 0.25);
    border: none;
}

a:hover {
    background-color: hsl(205deg, 10%, 50%);
    transition: 0.2s ease-in-out;
}

.header {
    padding-top: 100px;
}

.container__header {
    margin: 5px;
    padding: 5px;
}

.about_container {
    margin-top: 20rem;
    display: flex;
    justify-content: center;

}

.about_p {
    font-size: 2rem;
    
}

.main_content_container {
    display: flex;
    justify-content: center;
    padding-top: 30rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px ) {
    .main_content_container {
        flex-direction: column;
        align-items: center;
        }
    }


/*   card styles        */
.card__outer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    align-items: center ;
    border: .5px;
    border-style: solid;
    border-color: #374956;
    height: 450px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698),0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024),0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03),0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036),0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302),0.5rem 1rem 6rem rgba(0, 0, 0, 0.06),0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
    background-color: #141e26;
}

.title {
    margin: 5px;
    padding: 10px;
    background-color: #141e26;
    text-align: center;
}

.image_container {

}

.image {
    width: 100%;
    height: 200px;
}

.card_inner_container {
    margin: 5px;
    padding: 10px;
    background-color: #141e26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;
    background-color: #141e26;
}

.button_container {
    background-color: #141e26;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button_a{
    width: 100px;
    height: 40px;
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: rgba(115, 130, 140, 0.25);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}


.project_button:hover {
    background-color: hsl(205deg, 10%, 50%);
    transition: 0.2s ease-in-out;
}